/*      ----------GERAL--------------- */
*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 3em;
    background-color: rgba(40, 0, 80, 0.8);
    border-radius: 20px;
    cursor: pointer;
}

#Form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.campor-requerido{
    border-radius: 20px;
    padding: .5em;
    margin-bottom: 1em;
    cursor: pointer;
}


legend{
    font-size: 2em;
    margin-bottom: 1em;
}

.Botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.Cadastrar{
    background-color: rgba(0, 0, 0, 0.5);
    color: wheat;
    font-size: 1em;
    padding: .5em;
    transition: .25s;
    border-radius: 20px;
    cursor: pointer;
}
.Cadastrar:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: blue;
    transition: .25s;
}

#Entrar{
    font-size: 1em;
    text-decoration: none;
    color: wheat;
    border: 1px black solid;
    border-radius: 20px;
    padding: .5em;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .25s;
}
#Entrar:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: blue;
    transition: .25s;
}